<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Demo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item>
        <ion-label>Date picker</ion-label>
        <app-custom-datetime-picker [inputDateTime]="dateTime1" [id]="'date-picker'" (dateEvent)="date1Changed($event)"></app-custom-datetime-picker>
      </ion-item>
      <ion-item>
        <ion-label>DateTime picker</ion-label>
        <app-custom-datetime-picker [inputDateTime]="dateTime2" [includeTime]="true" [id]="'datetime-picker'" (dateEvent)="date2Changed($event)"></app-custom-datetime-picker>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
